body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: gray;
    padding: 25px;
}

.container form {
    width: 700px;
    padding: 40px;
    background: white;
    border-radius: 10px;
}

form .row {
    display: flex;
    gap: 20px;
}

.row .column {
    flex: 1 1 250px;
}

.column .title {
    font-size: 20px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.column .input-box {
    margin: 15px 0;
}

.input-box span {
    display: block;
    margin-bottom: 8px;
}

.input-box input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius:8px;
    font-size: 15px;
}

.column .flex {
    display: flex;
    gap: 15px;
}
.flex .input-box {
    margin-top: 5px;
    height: 50px;
}

.input-box img {
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
}

form .btn {
    width:100%;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 17px;
    transition: .5s;
    margin-bottom: 8px;
    margin-top: 50px;
}

form .btn:hover {
    background: seagreen;
}